<a href="https://colab.research.google.com/github/AmonKi/Telecommunication-Industry-Week1-Challenge/blob/Task-1/Task1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the necessary libraries
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Week1_clean_data.csv')
df.head(5)

   Unnamed: 0             Bearer Id  ... Total UL (Bytes)  Total DL (Bytes)
0           0  13114483460844900352  ...       36749741.0       308879636.0
1           1  13114483482878900224  ...       53800391.0       653384965.0
2           2  13114483484080500736  ...       27883638.0       279807335.0
3           3  13114483485442799616  ...       43324218.0       846028530.0
4           4  13114483499480700928  ...       38542814.0       569138589.0

[5 rows x 46 columns]

In [ ]:
# Aggregation per user xDR sessions
df.aggregate({"MSISDN/Number":['sum','min','max']})

     MSISDN/Number
sum   6.273712e+15
min   3.360100e+10
max   8.823971e+14

In [ ]:
# Aggregation per user session duration
df.aggregate({"Dur. (ms)":['sum','min','mean','max']})

         Dur. (ms)
sum   1.569138e+10
min   7.142000e+03
mean  1.046085e+05
max   1.859336e+06

In [ ]:
# Aggregation per user the total download (DL) and upload (UL) data
df.aggregate({"Total UL (Bytes)":['sum'],"Total DL (Bytes)":['sum']})

     Total UL (Bytes)  Total DL (Bytes)
sum      6.168211e+12      6.819689e+13

In [ ]:
df_total_data_vol = df[["Social Media DL (Bytes)","Social Media UL (Bytes)","Google DL (Bytes)","Google UL (Bytes)","Email DL (Bytes)","Email UL (Bytes)","Youtube DL (Bytes)","Youtube UL (Bytes)","Netflix DL (Bytes)","Netflix UL (Bytes)","Gaming DL (Bytes)","Gaming UL (Bytes)","Other DL (Bytes)","Other UL (Bytes)"]].sum()
df_total_data_vol

Social Media DL (Bytes)    2.693001e+11
Social Media UL (Bytes)    4.939298e+09
Google DL (Bytes)          8.626186e+11
Google UL (Bytes)          3.084833e+11
Email DL (Bytes)           2.687611e+11
Email UL (Bytes)           7.010648e+10
Youtube DL (Bytes)         1.745123e+12
Youtube UL (Bytes)         1.651423e+12
Netflix DL (Bytes)         1.744039e+12
Netflix UL (Bytes)         1.650274e+12
Gaming DL (Bytes)          6.330713e+13
Gaming UL (Bytes)          1.243268e+12
Other DL (Bytes)           6.316550e+13
Other UL (Bytes)           1.239728e+12
dtype: float64